$liucheng-icon:url("../images/index/indexLiuCheng.png");
$pd30:30px;
$pd20:20px;
.index {
    display: inline-block;
    padding-top: 10px;
    width: 100%;
    .c-1 {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        .c-1-l {
            width: 240px;
            height: 500px;
            padding: 20px 25px;
            float: left;
            background: #ffd401;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            h1 {
                font-size: 0.2rem;
                font-weight: bold;
                height: 32px;
                line-height: 32px;
                border-bottom: 3px solid #333;
            }
            .image {
                width: 240px;
                height: 108px;
                margin: 30px auto 40px;
                background: url(../images/index/index-coupon.png) center center no-repeat;
            }
            .f-t {
                width: 100%;
                height: 48px;
                display: flex;
                position: relative;

                justify-content: center;

                flex-direction: column;
                align-items: center;
                z-index: 1;
                h2 {
                    width: 144px;
                    background: #ffd401;
                    position: relative;
                    z-index: 3;
                }
                &:after {
                    width: 144px;
                    background: #ffd401;
                    position: relative;
                    z-index: 3;
                    display: block;
                    content: "输入信息获取报价";
                }
                &:before {
                    position: absolute;
                    z-index: 2;
                    top: 25px;
                    width: 100%;
                    display: block;
                    content: "";
                    height: 1px;
                    background-color: #000000;
                }
            }
            .f-c {
                padding-top: 10px;
                input {
                    display: block; // float: left;
                    height: 40px;
                    line-height: 40px;
                    width: 220px;
                    padding-left: 10px;
                    font-size: 12px;
                    color: #999;
                    margin-bottom: 5px;
                    border: none;
                }
                .btn {
                    display: block;
                    float: left;
                    width: 230px;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    text-align: center;
                    font-size: 14px;
                    background: #4f2a1a;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
        }
        .c-1-r {
            width: 900px;
            height: 540px;
            float: left;
            margin-left: 10px;
            .layui-carousel-ind ul {
                background-color: rgba(0, 0, 0, 0); // background-color:none;
                li {
                    background-color: rgba(0, 0, 0, 0);
                    border: 2px solid #ffffff;
                    &.layui-this {
                        background-color: #ffd401;
                        border-color: #ffd401;
                    }
                }
            }
        }
    }
    .c-2 {
        width: 1200px;
        margin: 10px auto;
        display: flex;
        ul {
            width: 1200px;
            display: flex;
            justify-content: space-between;
            li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 290px;
                height: 198px;
                border: 1px solid #dfdfdf;
                float: left;
                background-size: 100% 100%;
                border: 1px solid #dfdfdf;
                h1 {
                    width: 200px;
                    color: rgba(0, 0, 0, 0.7); // text-indent: 60px;
                }
                p {
                    font-size: 14px;
                    width: 200px;
                    color: rgba(0, 0, 0, 0.5);
                }
                .btn {
                    margin: 40px 0 0 -100px;
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 14px;
                    color: #666;
                    border: 1px solid #999;
                    border-radius: 3px;
                    cursor: pointer;
                    &:hover {
                        background-color: #d4bb56;
                        border-color: #d4bb56;
                        color: #ffffff;
                    }
                }
                &:after {
                    position: absolute;
                    right: 25px;
                    bottom: 25px;
                    content: "";
                    display: block;
                    width: 74px;
                    height: 74px;
                    background-color: #ffd401;
                }
            }
        }
    }
    .c-3 {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        padding: $pd20 0 $pd30 0; // padding-bottom:$30;
        .c-3-title {
            width: 100%;
            height: 60px;
            background: url(http://static.jtljia.com/images/system/index/index-liucheng.jpg) center center no-repeat;
        }
        a.active {
            float: left;
            width: 140px;
            height: 140px;
            border: 1px solid #707473;
            border-radius: 2px;
            font-size: 14px;
            color: #666;
            text-align: center;
            position: relative;
            .liucheng-icon {
                margin: 30px auto 20px;
                background-image: $liucheng-icon;
            }
            &:nth-child(1)>.liucheng-icon {
                width: 39px;
                height: 46px;
                background-position: 0 -138px;
            }
            &:nth-child(1):hover {
                .liucheng-icon {
                    background-position: -43px -150px;
                }
            }
            &:nth-child(3)>.liucheng-icon {
                width: 32px;
                height: 42px;
                background-position: -88px -100px;
            }
            &:nth-child(3):hover {
                .liucheng-icon {
                    background-position: -86px -196px;
                }
            }
            &:nth-child(5)>.liucheng-icon {
                width: 46px;
                height: 46px;
                background-position: -71px -50px;
            }
            &:nth-child(5):hover {
                .liucheng-icon {
                    background-position: -71px 0px;
                }
            }
            &:nth-child(7)>.liucheng-icon {
                width: 40px;
                height: 46px;
                background-position: 0 -88px;
            }
            &:nth-child(7):hover {
                .liucheng-icon {
                    background-position: -44px -100px;
                }
            }
            &:nth-child(9)>.liucheng-icon {
                width: 67px;
                height: 40px;
                background-position: 0 -44px;
            }
            &:nth-child(11)>.liucheng-icon {
                width: 37px;
                height: 42px;
                background-position: -86px -150px;
            }
            &:nth-child(1):hover,
            &:nth-child(3):hover,
            &:nth-child(5):hover,
            &:nth-child(7):hover {
                border-color: #d5bb55;
                color: #d5bb55;
            }
        }

        a.blank {
            width: 69px;
            height: 142px;
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .c-3-show {
            width: 1200px;
            margin: 0 auto;
        }
    }
}