body {
    background-color: #000000;
}

.contaner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    overflow: scroll;
}

h1 {
    color: #c0a354;
    font-size: 40px;
    margin-bottom: 20px;
}