body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contaner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: scroll;
}

h1 {
    color: #c0a354;
    font-size: 40px;
    margin-bottom: 20px;
}

.layui-body {
    overflow-y: scroll;
}